@import 'node_modules/bootstrap/scss/bootstrap';
@import '@fontsource-variable/montserrat';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: lightgray;
}

.original_title {
    font-size: 12px
}